.footer{
    background:#0b1120;
    color:white;
    text-align:center;
    padding:40px 20px;
    margin-top:60px;
}

.footer-content h2{
    color:#38bdf8;
    margin-bottom:15px;
}

.footer-content p{
    color:#cbd5e1;
    margin:8px 0;
}

.copyright{
    margin-top:20px;
    color:#64748b;
    font-size:14px;
}