.profile-menu{
    position:relative;
}

.profile-btn{
    background:none;
    border:none;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.dropdown{
    position:absolute;
    top:45px;
    right:0;
    width:180px;
    background:#1e293b;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.4);
}

.dropdown a{
    display:block;
    padding:14px;
    color:white;
    text-decoration:none;
    transition:.3s;
}

.dropdown a:hover{
    background:#38bdf8;
}